[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaml = "*"
xlwt = "*"
openpyxl = "*"
pyyaml = "*"
xlrd = "==1.1.0"

[dev-packages]
pylint = "*"
ddt = "*"

[requires]
python_version = "3.7"
