Package: yaml-to-excel
Version: 21.7.0-1
Source: yaml-to-excel
Section: contrib/python
Priority: extra
Maintainer: Ashley Burston
Build-Depends: python3,python3-setuptools,python3-yaml,python3-openpyxl
Architecture: all
Pre-Depends: dpkg,python3
Depends: python3-yaml,python3-openpyxl
Description: Tool for converting excel spreadsheets to and from yaml
